body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}
.todo {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 800px; 
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.heading {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
    color: #7f398d;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 30px;
}
.task-input {
    margin: 20px auto;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
}
input[type="text"], input[type="date"] {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #e9e7e7;
    font-size: 16px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
input[type="text"] {
    width: 60%;
}

input[type="date"] {
    width: 30%;
}

button {
    padding: 15px 25px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}
button:hover {
    background-color: #0056b3;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 30px auto;
    width: 100%;
    max-width: 800px; 
}
li {
    margin: 20px 0;
    background-color:#e9e7e7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
    position: relative;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box; 
}
.task-date {
    font-size: 12px;
    color: #888;
    margin: 0;
    align-items: center;
    text-align: right;
    padding-right: 10px; 
} 


.task-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap; 
}
.task-text {
    font-size: 18px;
    color: #333;
    margin: 0;
    flex: 1; 
}
.timestamp {
    font-size: 12px;
    color: #8f8f8f;
}
.delete-button, .edit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}
.delete-button:hover, .edit-button:hover {
    opacity: 0.8;
}
.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #b32739;
}

.edit-button {
    background-color: #852399;
}

.edit-button:hover {
    background-color: #701e5c;
}
.checkbox {
    margin-right: 10px;
}
.task-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap; 
}
/* .task-completed .task-text {
    text-decoration: line-through;
    color: gray;
} */
.task-completed .timestamp {
    color: #999;
}
.task-completed {
    text-decoration: line-through;
    color: gray;
}

